.navButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    width: 100%;
    /* background-color: rgb(102, 132, 240); */
}

.buttons {
    height: 70%;
    width: 170px;
}